@import 'bootstrap';

.chat-input {
  width: 926px;
  height: 200px;
}
ul.media-list {
  li {
    padding: 8px 15px;
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    .media-heading {
      font-style: italic;
      color: #c7c7c7;
    }
  }
}
.well {
  text-align: center;
}
.badge {
  padding: 20px;
  font-size: 46px;
}